@{
    ViewBag.Title = "Richard V Ashcraft";
}
<div class="row">
    <div class="columnleft"> 
            <img src="~/images/main/HalfDom.jpg" border="0" alt="Half Dom" />
        <div id="date">@ViewBag.Date</div>
        <div class="mainimage">
            <img src="~/images/main/ElCap.jpg" border="0" alt="El Capation" />
        </div>  
        <div class="mainimage">
            <img src="~/images/main/Eureka.jpg" border="0" alt="Eureka" />
        </div>  
        <div class="mainimage">
            <img src="~/images/main/GreatBasin.jpg" border="0" alt="Great Basin" />
        </div>  
        <div class="mainimage">
            <img src="~/images/main/Snow.jpg" border="0" alt="Great Basin Snow" />
        </div>  
         <div class="mainimage">
            <img src="~/images/main/CraterLake.jpg" border="0" alt="Crater Lake" />
        </div>   
         <div class="mainimage">
            <img src="~/images/main/LakeTahoe.jpg" border="0" alt="Lake Tahoe" />
        </div>  

         <div class="mainimage">
            <img src="~/images/main/GreyCliffs.jpg" border="0" alt="Great Basin" />
        </div> 
                 <div class="mainimage">
            <img src="~/images/main/RadarStation.jpg" border="0" alt="Radar Station Coastal Redwoods" />
        </div> 
                 <div class="mainimage">
            <img src="~/images/main/RedWoods.jpg" border="0" alt="Coastal Redwoods" />
        </div>  
        <div class="mainimage">
            <img src="~/images/main/horsetail.jpg" border="0" alt="Horse Tail Falls" />
        </div>   
   
        <div class="row3column">
              <div class="rowimage">
              <div class="columnimage"><img src="~/images/main/fire1.jpg" border="0" alt="Byron Ashcraft Fire" /></div>
              <div class="columnimage"><img src="~/images/main/fire3.jpg" border="0" alt="Byron Ashcraft Fire" /></div>
              <div class="columnimage"><img src="~/images/main/fire2.jpg" border="0" alt="Byron Ashcraft Fire" /></div>
              </div>
        </div>
        <div class="mainimage">
        <img src="~/images/main/escalante.jpg" border="0" alt="Escalante" />
        </div>
        <div class="row3column">
              <div class="rowimage">
              <div class="columnimage"><img src="~/images/main/peekabooSign.jpg" border="0" alt="Peek A Boo Slot Canyon" /></div>
              <div class="columnimage"><img src="~/images/main/escalanteLakePSign.jpg" border="0" alt="Escalante" /></div>
              <div class="columnimage"><img src="~/images/main/escalanteSign.jpg" border="0" alt="Escalante" /></div>
              </div>
        </div>
        <div class="clear"></div>
        <div class="mainimage">
        <img src="~/images/main/slot.jpg" border="0" alt="Escalante" />
        </div>
        <div class="mainimage">
        <img src="~/images/main/ausJag.jpg" border="0" alt="Escalante" />
        </div>
        <div class="mainimage">
        <img src="~/images/main/coyote.jpg" border="0" alt="Coyote Gulch" />
        </div>
        <!--<img src="~/images/main/wall.jpg" border="0" alt="Richard Ashcraft" />-->
        <div class="row3column">
            <div class="column-left"><img src="~/images/main/tag.jpg" border="0" alt="Deutsche Einheit" /></div>
            <div class="column-center"><img src="~/images/main/Ellit.jpg" border="0" alt="El" /></div>
            <div class="column-right"><img src="~/images/main/jekyl.jpg" border="0" alt="Jekyl" /></div>
        </div>
        <div class="clear"></div>
        <div class="mainimage">
        <img src="~/images/main/ByronTree.jpg" border="0" alt="Tree Close Up" />
        </div>
        <div class="mainimage">
            <img src="~/images/main/whitney.jpg" border="0" alt="Mt. Whitney" />
        </div>
        <div class="mainimage">
            <img src="~/images/main/hood.jpg" border="0" alt="Mt. Hood" />
        </div>
        <div class="mainimage">
            <img src="~/images/main/speyer.jpg" border="0" alt="Richard V Ashcraft" />
        </div>
    </div>
    <div class="columnright">
        <img src="~/images/main/rvahomepage.png" border="0" alt="Richard V Ashcraft" />
    </div>
</div>
