html, body {
    margin: 0;
    padding: 0;
    font-size: 10px; /*size of navigation icon light*/
    background-color: rgb(50,50,50);
}

#date {
    color: rgb(150,150,150);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    letter-spacing: 1.2em;
    font-weight: 200;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#topnav {
    width: 100%;
    height: 50px;
}

.topnavleft {
    float: left;
    width: 92%;
    height: 50px;

}

.topnavright {
    float: right;
    margin: 0;
    padding: 0;
    width: 07%;
    height: 50px;
}

.topnavtxt {
    margin-top: .5em;
    margin-left: 25px;
}

h4 {
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: 200;
    margin: 0;
}

h3 {
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    font-weight:  normal;
    margin: 0;
    padding:0;
}

.columnleft {
    margin-top: 0;
    float: left;
    width: 90%;
}

.columnright {
    float: right;
    width: 09%;
    margin-top: 245px;
}

.maincolumnleft {
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
    width: 50%;
    /*border: 1px solid red;*/
}

.maincolumnright {
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    width: 49%;
}

.clear {
    clear: both;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-left {
    float: left;
    width: 33%;
    margin: 0 auto;

}

.column-right {
    float: right;
    width: 33%;
    margin: 0 auto;

}

.column-center {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
    }

.row3column {
    width: 800px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.row3column img {
        display: block;
        margin-left: auto;
        margin-right: auto
}

.row3column:after {
        content: "";
        display: table;
        clear: both;
}

.column3main {
    float: left;
    width: 33%;
    padding-top: 25px;
    padding: 0;
}

.column3main:after {
       content: "";
       display: table;
       clear: both;
}

#leftnav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .5em;
    line-height: 2em;
    font-weight: 200;
    font-size: 2em;
    color: rgb(50,50,50);
    text-align: left;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 0px;
    float: right;
}

.anostyle {
    text-decoration: none;
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 0;
    letter-spacing: 1em;
    white-space: nowrap;
}

.anostyle a:hover {
        text-decoration: none;
        color: rgb(150,150,150);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 200;
        margin: 0;
        letter-spacing: 1em;
        white-space: nowrap;
}

.leftNavLi {
    list-style: none;
}

#leftnav, ul {
    margin-top: 0px;
    margin-right: 20px;
}

li a {
    display: block;
    text-decoration: none;
    color: rgb(75,75,75);
    font-weight: 200;
}

li a:hover {
        color: rgb(25,25,25);
        font-weight: 200;
}

img {
    display: block;
    margin: auto;
}

.mainimage {
    width: 100%;
    padding-bottom: 50px;
}

.bodyPadding{
    margin: 10px;
    padding: 10px;

}

.contactForm {
    margin: 5px;
    padding: 1px; 
    vertical-align:top;
}

.formText {
    margin-left: 5px;
    padding-left: 5px;
    vertical-align: top;
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.contactForm input {
    width: 400px;
    height: 2.0em;
    color: rgb(100,100,100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 14px
}

.contactForm textarea {
    width: 400px;
    color: rgb(100,100,100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 14px;
    vertical-align: top;
}

.contactLabelDiv {
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 5px;
}

.contactFormMessage {
    width: 400px;
    color: rgb(190,100,100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 14px;
    vertical-align: top;
}

fieldset {
    width: 500px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
}

.required {
    color: rgb(200,200,200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 12px;
    margin-left: 5px;
}

#bkgimage {
    background-image: url("../images/support/contactBkg.png");
    width: 900px;
    height: 650px
}
#contactPadding {
    padding-top: 64px;
    padding-left: 80px
}

.columnimage {
    float: left;
    width: 33.2%
}

/* Clear floats after the columns */
.rowimage:after {
    content: "";
    display: table;
    clear: both;
}